In [357]:
import gc
import pandas as pd
import numpy as np

from scipy import sparse as sps
#from sparsesvd import sparsesvd
from collections import Counter 
from matplotlib import pyplot as plt


path = '../data/'

attend = pd.read_csv(path+'attend.csv')
attend.drop(['дата занятия','время начала занятия','время окончания занятия','направление 3','направление 2'], axis=1, inplace=True)

groups = pd.read_csv(path+'groups.csv')
test = pd.read_csv(path+'test.csv')
users = pd.read_csv(path + 'users.csv')
users['age']  = users['дата рождения'].apply(lambda x: int((2023-int(x.split('-')[0]))))
users['age'] = users['age'].apply(lambda x: str(x - x % 5)+'__age')
attend.head()

,уникальный номер занятия,уникальный номер группы,уникальный номер участника,онлайн/офлайн
0,401346550,801346550,101352023,Да
1,401346550,801346550,101385462,Да
2,401346550,801346550,101421897,Да
3,401346550,801346550,101354499,Да
4,401346550,801346550,101421312,Да

In [358]:
users.head(1)

,уникальный номер,дата создание личного дела,пол,дата рождения,адрес проживания,age
0,101391104,2019-02-26 15:52:09.000,Женщина,1959-09-10,"город москва, константинова, дом 30",60__age

In [359]:
attend.head(1)

,уникальный номер занятия,уникальный номер группы,уникальный номер участника,онлайн/офлайн
0,401346550,801346550,101352023,Да

In [360]:
def append_hours(df, users):
    
    # выделяем час заказа
   # df['online'] = df['онлайн/оффлайн'].apply(lambda x: 1 if x == 'Да' else 0)
    
    for c in ['пол','age']:
        us = users.copy()
        us.rename({'уникальный номер':'уникальный номер участника',
                   c:'уникальный номер группы'}, axis=1, inplace=True)
        us['уникальный номер занятия'] = df['уникальный номер занятия'].max() + 1 + np.arange(us.shape[0])
        us['онлайн/офлайн'] = 'Нет'

        df = pd.concat([df, us[df.columns]])
    

    

    return df

print(attend.shape)
attend = append_hours(attend, users)
print(attend.shape)

(5901274, 4)
(6005942, 4)

In [361]:
print(attend.shape)
attend = attend.drop_duplicates(subset=['уникальный номер участника','уникальный номер группы'])
print(attend.shape)
attend.head()

(6005942, 4)
(705058, 4)

,уникальный номер занятия,уникальный номер группы,уникальный номер участника,онлайн/офлайн
0,401346550,801346550,101352023,Да
1,401346550,801346550,101385462,Да
2,401346550,801346550,101421897,Да
3,401346550,801346550,101354499,Да
4,401346550,801346550,101421312,Да

In [362]:
# фильтруем на малоактивных пользователей и малопопулярные продукты
def filter_column(ds, col, min_freq, free_col='rating'):
    
    temp = ds.groupby(col, as_index=False).agg({free_col:'count'})
    filtered = temp.loc[temp[free_col] >= min_freq, col].values
    ds = ds.loc[(ds[col].isin(filtered))].copy()

    return ds


attend = filter_column(attend, col='уникальный номер группы', min_freq=10, free_col='уникальный номер занятия')
#hist_data = filter_column(hist_data, col='item_id', min_freq=20,free_col='уникальный номер занятия')

attend.rename({'уникальный номер участника':'user_id','уникальный номер группы':'item_id'}, axis=1, inplace=True)

In [363]:
user2idx = {v: k for k, v in enumerate(attend.user_id.unique())}
item2idx = {v: k for k, v in enumerate(attend.item_id.unique())}
print(len(item2idx))
idx2user = {k:v for v, k in user2idx.items()}
idx2item = {k:v for v, k in item2idx.items()}

attend['user_id'] = attend.user_id.apply(lambda x: user2idx[x])
attend['item_id'] = attend.item_id.apply(lambda x: item2idx[x])

attend.head()

14442

   уникальный номер занятия  item_id  user_id онлайн/офлайн
0                 401346550        0        0            Да
1                 401346550        0        1            Да
2                 401346550        0        2            Да
3                 401346550        0        3            Да
4                 401346550        0        4            Да

In [364]:

matrix = sps.coo_matrix(
    (np.ones(attend.shape[0]), (attend['user_id'], attend['item_id'])),
    shape=(len(user2idx), len(item2idx)),
)
matrix

<52334x14442 sparse matrix of type '<class 'numpy.float64'>'
	with 651476 stored elements in COOrdinate format>

In [365]:
%%time

# Обучаем конечную модель
# Мы взяли реализацию из RecBole
# 
def fit_ease(X, reg_weight=100):
    
 # gram matrix
    G = X.T @ X

    # add reg to diagonal
    G += reg_weight * sps.identity(G.shape[0])

    # convert to dense because inverse will be dense
    G = G.todense()

    # invert. this takes most of the time
    P = np.linalg.inv(G)
    B = P / (-np.diag(P))
    # zero out diag
    np.fill_diagonal(B, 0.)
    
    return B

w = fit_ease(matrix)

CPU times: user 4min 33s, sys: 8.88 s, total: 4min 42s
Wall time: 57.6 s

In [366]:
w.shape

(14442, 14442)

In [367]:
items_to_recommend = pd.read_csv(path+'Список групп для рекомендаций.csv', header=None)
items_to_recommend.columns = ['item_id']

norm_namings = items_to_recommend.item_id.values
norm_idxs = [item2idx[x] for x in norm_namings if x in item2idx]
print(len(norm_idxs) / len(norm_namings), len(norm_idxs))


items_to_recommend.head()

0.5637642919964819 641

     item_id
0  801362710
1  801353142
2  801362725
3  801362727
4  801362748

In [368]:
norm_namings

array([801362710, 801353142, 801362725, ..., 801372384, 801366477,
       801366823])

In [369]:
test['user_id'] = test['уникальный номер участника'].apply(lambda x: user2idx.get(x, -1))
test_data = test.merge(attend, how='left')
test_data.head()

,уникальный номер участника,уникальный номер группы,user_id,уникальный номер занятия,item_id,онлайн/офлайн
0,101346610,NaN,18734,401353854,1068,Нет
1,101346610,NaN,18734,401384586,5098,Нет
2,101346610,NaN,18734,401384808,5115,Нет
3,101346610,NaN,18734,401385151,5136,Нет
4,101346610,NaN,18734,401480748,9386,Нет

In [370]:
def get_preds(x):
    
    #basket = [item2idx[t] for t in x if t in item2idx]
    if str(x[0]) != 'nan':
        #print(x)
        basket = [int(t) for t in x]
    else:
        basket = []
        
        
    #print(basket)
    
    # Составляем вектор интеракций человека
    vector = np.zeros(len(item2idx))
    vector[basket] = 1
    
    return vector

pred = test_data.groupby(['уникальный номер участника'])['item_id'].agg([('basket', list)]).reset_index()
pred['vector'] = pred.basket.apply(lambda x: get_preds(x))
pred.head()

,уникальный номер участника,basket,vector
0,101346610,"[1068, 5098, 5115, 5136, 9386, 9387, 9470, 510...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,101346612,"[1068, 3212, 1199, 5098, 5115, 5136, 5103, 857...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,101347269,"[106, 114, 1068, 2552, 4672, 5098, 5103, 5115,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,101347321,"[1068, 5098, 5115, 5136, 9386, 9387, 7281, 728...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,101347983,"[7123, 7614, 2272, 5485, 10233, 14430, 14438]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [371]:
from tqdm import tqdm
scores = []
recs_for_user = []
print(pred.shape)

batch = []
#w = w.toarray()
for idx, row in tqdm(pred.iterrows(), total = pred.shape[0]):
    vector = row.vector
    
    batch.append(vector)
#     if len(batch) > 10000:
#         batch = np.array(batch)
#         user_scores = batch.dot(w)
#         user_scores = batch.dot(w)
#         user_scores[:,~np.array(norm_idxs)] = -np.inf
#         user_scores = np.argsort(-user_scores)[:,:200]
#         for i in range(len(user_scores)):
#             recs_for_user.append(user_scores[i].tolist())
            
#         batch = []
        
batch = np.array(batch)
user_scores = batch.dot(w)
user_scores[:,norm_idxs] += 1000

user_scores[batch==1] = -np.inf
user_scores = np.argsort(-user_scores)[:,:10]
for i in range(len(user_scores)):
    recs_for_user.append(user_scores[i].tolist())

(200, 3)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 200/200 [00:00<00:00, 13408.69it/s]

In [372]:
def get_decoded_recommendations(x):
    
    # создаем конечные декодированные рекомендации
    recs = []
    
    # смотрим, что уже лежит в корзине
    consumed = [t for t in x.basket]
    for el in x.recs[0]:
        
        # нам надо выкинуть специальные токены из рекомендаций. Это то, что связано с аггрегированными
        # статистиками в заказе. А также не положить то, что уже лежит в корзине
        cond = el not in consumed
        if cond:
            recs.append(idx2item[el])
        else:
            1/0
        if len(recs) == 10:
            break
            
    if len(recs) != 10:
        1/0
    return recs


pred['recs'] = recs_for_user
pred['preds'] = pred.apply(lambda x: get_decoded_recommendations(x), axis=1)
pred.head(10)

,уникальный номер участника,basket,vector,recs,preds
0,101346610,"[1068, 5098, 5115, 5136, 9386, 9387, 9470, 510...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[10710, 13927, 11986, 8571, 12943, 13305, 110...","[801364201, 801367538, 801370061, 801359786, 8..."
1,101346612,"[1068, 3212, 1199, 5098, 5115, 5136, 5103, 857...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[13927, 10710, 13305, 11986, 13161, 12943, 12...","[801367538, 801364201, 801363560, 801370061, 8..."
2,101347269,"[106, 114, 1068, 2552, 4672, 5098, 5103, 5115,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[12689, 11071, 12972, 13225, 14246, 13976, 13...","[801371219, 801371254, 801363286, 801372078, 8..."
3,101347321,"[1068, 5098, 5115, 5136, 9386, 9387, 7281, 728...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[10710, 13927, 11986, 8571, 11069, 12165, 129...","[801364201, 801367538, 801370061, 801359786, 8..."
4,101347983,"[7123, 7614, 2272, 5485, 10233, 14430, 14438]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[12118, 11690, 10985, 10721, 338, 10510, 1001...","[801369249, 801370592, 801368693, 801369241, 8..."
5,101348056,"[2877, 10971, 10800, 12884, 13152, 11848, 6833...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[10086, 10968, 10084, 10964, 11925, 13149, 88...","[801362750, 801364975, 801363043, 801364971, 8..."
6,101349211,"[108, 130, 732, 908, 3, 1659, 1735, 1858, 3250...","[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[14130, 12873, 13976, 12856, 2167, 4606, 1297...","[801368506, 801368552, 801369774, 801370296, 8..."
7,101349847,"[2375, 2783, 3071, 735, 2597, 3577, 3395, 4518...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[13160, 10380, 10393, 12893, 13729, 12992, 13...","[801371128, 801363956, 801367425, 801369799, 8..."
8,101350099,"[906, 1128, 1799, 2033, 888, 3206, 1765, 2259,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[13927, 12382, 10764, 13830, 11408, 14103, 13...","[801367538, 801371813, 801370992, 801371092, 8..."
9,101351179,"[146, 371, 3205, 3608, 582, 1652, 1723, 4447, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[10339, 11036, 12622, 14057, 9963, 2761, 1001...","[801363623, 801369287, 801368130, 801371158, 8..."

##  Проверки

In [373]:
#toppopular?
pred.explode('preds')['preds'].value_counts()[:10]

preds
801365028    23
801364172    23
801369785    20
801353958    19
801371717    18
801362957    18
801354057    17
801370323    17
801365155    17
801363677    17
Name: count, dtype: int64

In [374]:
# all from recommended?
items_recommended = pred.explode('preds')['preds'].unique()

assert set(items_recommended) < set(items_to_recommend.item_id.values.tolist())

In [375]:
#no intersections with train?

clean_recs = pred.explode('preds')
clean_recs.rename({'preds':'уникальный номер группы'}, axis=1, inplace=True)
attend = pd.read_csv(path+'attend.csv')
assert clean_recs.merge(attend, on=['уникальный номер группы','уникальный номер участника']).shape[0] == 0

In [376]:
clean_recs.merge(attend, on=['уникальный номер группы','уникальный номер участника'])

Empty DataFrame
Columns: [уникальный номер участника, basket, vector, recs, уникальный номер группы, уникальный номер занятия, направление 2, направление 3, онлайн/офлайн, дата занятия, время начала занятия, время окончания занятия]
Index: []

In [390]:
pred['уникальный номер группы'] = pred.preds.apply(lambda x: ','.join(map(str, x)))
test22 = pd.read_csv(path+'test.csv')
test22.drop(['уникальный номер группы'],axis=1, inplace=True)
test22 = test22.merge(pred[['уникальный номер участника','уникальный номер группы']])
test22.to_csv('submission.csv', index=None)
test22.head(30)

,уникальный номер участника,уникальный номер группы
0,101346610,"801364201,801367538,801370061,801359786,801369..."
1,101346612,"801367538,801364201,801363560,801370061,801367..."
2,101347269,"801371219,801371254,801363286,801372078,801371..."
3,101347321,"801364201,801367538,801370061,801359786,801368..."
4,101347983,"801369249,801370592,801368693,801369241,801346..."
5,101348056,"801362750,801364975,801363043,801364971,801365..."
6,101349211,"801368506,801368552,801369774,801370296,801349..."
7,101349847,"801371128,801363956,801367425,801369799,801364..."
8,101350099,"801367538,801371813,801370992,801371092,801364..."
9,101351179,"801363623,801369287,801368130,801371158,801370..."
10,101351243,"801371799,801354860,801354789,801360835,801366..."
11,101352015,"801366231,801369436,801362957,801354057,801353..."
12,101352452,"801370273,801363390,801367935,801365094,801366..."
13,101352882,"801365564,801353056,801370708,801363823,801369..."
14,101353037,"801363677,801364172,801372294,801368631,801370..."
15,101353135,"801367425,801367769,801365028,801354057,801365..."
16,101353491,"801366994,801364578,801347201,801367881,801366..."
17,101353893,"801361028,801356328,801348474,801360651,801354..."
18,101354253,"801351179,801347156,801365938,801370273,801363..."
19,101354448,"801363027,801369436,801367073,801364416,801368..."
20,101355729,"801369353,801369748,801368631,801371205,801366..."
21,101356067,"801362929,801365028,801363382,801363677,801365..."
22,101356490,"801365392,801369295,801367906,801369962,801358..."
23,101356977,"801362887,801366994,801367881,801366666,801371..."
24,101358634,"801364251,801370540,801362830,801370539,801366..."
25,101358792,"801364251,801359620,801364875,801348893,801365..."
26,101359384,"801362830,801369962,801364875,801369391,801349..."
27,101359420,"801362993,801364971,801366839,801364975,801367..."
28,101359503,"801348493,801350271,801360278,801371284,801370..."
29,101360038,"801371622,801370098,801370477,801369752,801367..."

In [389]:
pred.loc[pred['уникальный номер участника'].isin([101347321,101346610])].merge(users,
                                                                               left_on=['уникальный номер участника'],
                                                                               right_on=['уникальный номер'])

,уникальный номер участника,basket,vector,recs,preds,уникальный номер группы,уникальный номер,дата создание личного дела,пол,дата рождения,адрес проживания,age
0,101346610,"[1068, 5098, 5115, 5136, 9386, 9387, 9470, 510...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[10710, 13927, 11986, 8571, 12943, 13305, 110...","[801364201, 801367538, 801370061, 801359786, 8...","801364201,801367538,801370061,801359786,801369...",101346610,2018-03-12 10:52:33.000,Женщина,1950-09-18,"город москва, зеленоград, дом 117",70__age
1,101347321,"[1068, 5098, 5115, 5136, 9386, 9387, 7281, 728...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[10710, 13927, 11986, 8571, 11069, 12165, 129...","[801364201, 801367538, 801370061, 801359786, 8...","801364201,801367538,801370061,801359786,801368...",101347321,2018-03-14 17:57:16.000,Женщина,1939-06-17,"город москва, зеленоград, дом 1208",80__age

In [384]:
users

,уникальный номер,дата создание личного дела,пол,дата рождения,адрес проживания,age
0,101391104,2019-02-26 15:52:09.000,Женщина,1959-09-10,"город москва, константинова, дом 30",60__age
1,101437383,2022-09-14 13:46:41.079,Женщина,1958-06-29,"г. москва, большая серпуховская улица, дом 40,...",65__age
2,101351338,2018-03-19 18:34:58.000,Женщина,1956-08-28,"город москва, летчика грицевца, дом 10",65__age
3,101354578,2018-03-22 13:19:42.000,Женщина,1939-05-19,"город москва, лобачевского, дом 76",80__age
4,101411997,2019-12-17 12:29:25.481,Женщина,1951-03-02,"г. москва, улица вертолётчиков, дом 13",70__age
...,...,...,...,...,...,...
52329,101389206,2019-02-08 11:39:32.000,Женщина,1957-10-21,"город москва, шоссе энтузиастов, дом 48/1",65__age
52330,101355680,2018-03-22 20:01:59.000,Женщина,1945-11-13,"город москва, аргуновская, дом 16, корпус 1",75__age
52331,101414122,2020-01-30 10:23:00.618,Мужчина,1950-12-05,"город москва, улица генерала белова, дом 41",70__age
52332,101428464,2022-03-21 09:46:23.672,Женщина,1947-05-15,"г. москва, город зеленоград, корпус 828б",75__age
52333,101359286,2018-03-25 23:03:09.000,Женщина,1954-03-04,"город москва, бирюлевская, дом 13, корпус 3",65__age

## Интерпретация

In [391]:
group2name = {row['уникальный номер']: row['направление 3'] for _, row in groups.iterrows()}


df = pred.copy()
df['visited'] = df.basket.apply(lambda x: [group2name.get(idx2item[t],None) for t in x if t in idx2item  ])
df['recommended'] = df.preds.apply(lambda x: [group2name[t] for t in x])

In [392]:
for i in range(10):
    print('-'*100)
    sample = df.sample()
    print('Бабушка посетила:')
    print(set(sample.visited.values[0]))
    print('\nБабушке рекомендовали:')
    print(set(sample.recommended.values[0]))
    print('-'*100)

----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'ОНЛАЙН История моды и прически', 'ОНЛАЙН ИЗО', 'ОНЛАЙН История кинематографа', 'ОНЛАЙН Авторские курсы/маршруты', 'ОНЛАЙН История, культура Москвы', 'Памятники культуры', 'ОНЛАЙН Краеведение и онлайн-экскурсии', 'ОНЛАЙН Москвоведение', 'ОНЛАЙН Английский язык разговорный', 'ОНЛАЙН Здорово жить', 'ОНЛАЙН Музыка', 'ОНЛАЙН Религиоведение', 'ОНЛАЙН Краеведение и онлайн-экскурсии по миру', 'ОНЛАЙН Фотостудия/видеостудия', 'ОНЛАЙН История, культура России', 'ОНЛАЙН Литературная мастерская', 'ОНЛАЙН Краеведение и онлайн-экскурсии по Москве и России', 'ОНЛАЙН Психологические тренинги', 'ОНЛАЙН Генеалогия', 'ОНЛАЙН Акварельная живопись', 'Краеведение и пешие прогулки', 'ОНЛАЙН Основы духовной культуры', 'ОНЛАЙН Психологический лекторий "Всё только начинается"', 'ОНЛАЙН Основы академического рисунка и живописи', None, 'ОНЛАЙН Английский язык для начинающих', 'ОНЛАЙН Различные техники рисования', 'ОНЛАЙН География. Путешествия вокруг света', 'ОНЛАЙН Английский язык', 'ОНЛАЙН История искусства'}

Бабушке рекомендовали:
{'ОНЛАЙН Краеведение и онлайн-экскурсии', 'ОНЛАЙН География. Путешествия вокруг света', 'ОНЛАЙН История искусства'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Мастер-класс по уходу за кожей в зрелом возрасте', None, 'Цигун', 'Современная песня', 'Дыхательная гимнастика', 'Хоровое пение', 'Школа моделей'}

Бабушке рекомендовали:
{'Латиноамериканские танцы', 'ОНЛАЙН История моды и прически', 'ОНЛАЙН Московский театрал', 'Компьютерная графика и дизайн', 'Современная песня', 'Техника речи', 'Школа моделей', 'ОНЛАЙН Основы духовной культуры'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'ОФП', None, 'ОНЛАЙН Гимнастика', 'Скандинавская ходьба', 'Гимнастика'}

Бабушке рекомендовали:
{'ОНЛАЙН История, культура России', 'ОНЛАЙН Романсы', 'Скандинавская ходьба', 'ОНЛАЙН Краеведение и онлайн-экскурсии', 'Краеведение и пешие прогулки', 'ОНЛАЙН Корригирующая гимнастика для глаз', 'ОНЛАЙН Основы духовной культуры'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН История моды и прически', 'ОНЛАЙН Здорово жить', 'ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте', 'Английская литература', None, 'ОНЛАЙН Школа макияжа', 'Английский язык', 'ОНЛАЙН Рисование анти-стресс', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Здоровый сон', 'Лечебная физкультура', 'Краеведение и пешие прогулки', 'ОНЛАЙН Суставная гимнастика', 'ОНЛАЙН Оздоровительная гимнастика'}

Бабушке рекомендовали:
{'ОНЛАЙН Здорово жить', 'ОНЛАЙН Здоровый образ жизни (ЗОЖ)', 'ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН Школа макияжа', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Суставная гимнастика', 'ОНЛАЙН Оздоровительная гимнастика'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН История моды и прически', 'Гимнастика мозга', 'Цигун', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Здоровый сон', 'ОНЛАЙН Краеведение и онлайн-экскурсии', 'ОНЛАЙН Суставная гимнастика', 'ОНЛАЙН Здорово жить', 'ОНЛАЙН Здоровый образ жизни (ЗОЖ)', 'ОНЛАЙН Гимнастика мозга', 'ОНЛАЙН Адаптивная и тонизирующая гимнастика', 'Йога', 'ОНЛАЙН Здоровая спина', 'ОНЛАЙН Цигун', 'ОНЛАЙН Оздоровительная гимнастика', 'ОНЛАЙН История, культура России', 'Осваиваем мобильные устройства', 'Психологические тренинги', 'ОНЛАЙН Краеведение и онлайн-экскурсии по Москве и России', 'ОНЛАЙН Психологические тренинги', 'ОНЛАЙН История искусства', 'ОНЛАЙН Лечебная физкультура', 'Дыхательная гимнастика', 'Краеведение и пешие прогулки', 'Хоровое пение', 'ОНЛАЙН Психологический лекторий "Всё только начинается"', 'ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН Физкультурно-оздоровительные занятия', None, 'ОНЛАЙН Экономическая, финансовая грамотность', 'ОНЛАЙН Танцы для всех', 'ОНЛАЙН Иные интеллектуальные игры', 'ОНЛАЙН Садоводство'}

Бабушке рекомендовали:
{'ОНЛАЙН История, культура России', 'ОНЛАЙН Здорово жить', 'ОНЛАЙН История искусства', 'ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН Рисование анти-стресс', 'ОНЛАЙН Лечебная физкультура', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Суставная гимнастика', 'ОНЛАЙН Садоводство'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Народные танцы', 'Латиноамериканские танцы', None, 'Современная песня', 'Бодибалет', 'Зумба', 'Бальные танцы', 'Рукоделие и творчество'}

Бабушке рекомендовали:
{'ОНЛАЙН Московский театрал', 'ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН Курсы компьютерной грамотности', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Здоровый сон', 'Краеведение и пешие прогулки', 'ОНЛАЙН Здоровая спина', 'ОНЛАЙН Суставная гимнастика', 'ОНЛАЙН История искусства'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Витражное искусство', 'Рукоделие и творчество', None, 'ОНЛАЙН Текстильный дизайн, кройка и шитье'}

Бабушке рекомендовали:
{'Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН Правильное питание', 'ОНЛАЙН История искусства', 'ОНЛАЙН Романсы', 'ОНЛАЙН История, культура Москвы', 'ОНЛАЙН Дыхательная гимнастика', 'ОНЛАЙН Изготовление кукол, игрушек', 'Зумба', 'ОНЛАЙН Рукоделие и творчество'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Латиноамериканские танцы', 'ОНЛАЙН Психологические тренинги', 'Испанский язык', 'Французский язык', 'ОНЛАЙН Искусство коммуникаций', None, 'ОНЛАЙН Рисование анти-стресс', 'Пение', 'Пилатес', 'Зумба', 'ОНЛАЙН Английский язык', 'Хоровое пение'}

Бабушке рекомендовали:
{'ОНЛАЙН История, культура России', 'ОНЛАЙН Здоровый образ жизни (ЗОЖ)', 'ОНЛАЙН Искусство коммуникаций', 'ОНЛАЙН Лечебная физкультура', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Краеведение и онлайн-экскурсии', 'ОНЛАЙН Адаптивная и тонизирующая гимнастика', 'ОНЛАЙН Китайский язык', 'ОНЛАЙН Суставная гимнастика', 'ОНЛАЙН История искусства'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{'Латиноамериканские танцы', 'Танцы для всех', 'Восточные танцы', 'Цигун', None, 'Танцевальная гимнастика', 'Стрейчинг', 'Пилатес', 'Спортивные танцы', 'Зумба', 'Йога', 'Дыхательная гимнастика', 'Краеведение и пешие прогулки', 'Здоровая спина'}

Бабушке рекомендовали:
{'ОНЛАЙН Мастер-класс по уходу за кожей в зрелом возрасте', 'Экскурс в историю', 'ОНЛАЙН Школа макияжа', 'ОНЛАЙН Гимнастика', 'ОНЛАЙН Английский язык', 'Краеведение и пешие прогулки', 'ОНЛАЙН Китайский язык', 'ОНЛАЙН Восточные танцы'}
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
Бабушка посетила:
{None, 'Витражное искусство', 'Рисование анти-стресс', 'Настольный теннис', 'Зумба', 'Рукоделие и творчество', 'ОНЛАЙН История искусства'}

Бабушке рекомендовали:
{'Мастер-класс по уходу за кожей в зрелом возрасте', 'ОНЛАЙН Здорово жить', 'ОНЛАЙН История, культура Москвы', 'ОНЛАЙН Краеведение и онлайн-экскурсии', 'Зумба', 'Различные техники рисования', 'ОНЛАЙН История искусства'}
----------------------------------------------------------------------------------------------------